* {  scroll-behavior: smooth;}
body {
  box-sizing: border-box;
  font: {
    family: "Noto Sans JP', sans-serif,ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","游ゴシック",YuGothic,"メイリオ",Meiryo,sans-serif;
    size: 10px;
  }
}
p, li { 
  line-height: 1.5;
  // @mixin mediaquery  {
  //   font-size: 1.2rem;
  //   line-height: 1.5;
  // }
}
h1,h2,h3,h4,p {
  color: #333;
}
h1 {
    font-family: ta-hougan-k500, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
}
h2 { 
  font-size: 2.4rem;
  margin-top: 10px;
}
h3 {
  font-size: 2rem;
  margin-bottom: .5rem;
}
p {
  font-size: 1rem;
  @include sp {
    font-size: .9rem;
  }
}
.bold {
  font-weight: bold;
}
.under {
  background: linear-gradient(transparent 60%, #a8eaff 50%);
}
.under-gray {
  background: linear-gradient(transparent 60%, #e6e6e6 50%);
}
/*a*/
a { 
  color: #333;
  text-decoration: none;
  transition: .6s ease-in;
  display: block;
  &:link,&:visited  {
    // color: #333;
    text-decoration: none;
  }
  &:hover { 
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
  }
}
.atention {
  background: #e6e6e6;
  padding: 1rem;
  font-size: 12px!important;
}
/*-----header------*/
header {
  width: 100vw;
  display: flex;
  position: relative;
  h1 {
    margin: 1rem auto;
  }
  @include sp {
    h1 {
     font-size: 1.5rem;
    }
  }
}
/*---------footer----------*/
footer {
    a {
      color: #fff;
      opacity: .7;
      &:hover {
        transition: .3s;
        opacity: 1;
      }
    }
      text-align: center;
      background: #000;
      color: #fff;
      justify-content: center;
      padding: 2rem 2rem 6.5rem;
    p {
      color: #fff;
      margin-bottom: 20px;
      font-size: 14px;
    }
    ul {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      li {
      font-size: 1rem;
      padding-bottom: 10px;
      margin-right: 1rem;
  
      }
    }
    .copyright {
      font-size: .8rem;
      color: #FFF;
    }
  }
/* ----- fadein ----- */
.fadeIn {
  animation: fadeIn 1.4s;
}
  @keyframes fadeIn {
  0% 
   {
      opacity: 0;
      transform: translateY(60px);
   }
  100% 
   {
      opacity: 1;
      transform: translateY(0px);
   }
}