<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta discription="写話会福岡, 福岡市内で毎月第一土曜日を目安に、テーマを決めて写真について話す会です。オンラインでの投稿企画も実施しています。撮影イベントなども！カメラはスマホしかない方、写真に詳しくない方も歓迎！">
  <meta property="og:url" content="https://syawakaifukuoka.github.io/main/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="写真についてゆるく話す、写話会福岡のウェブサイトです。" />
  <meta property="og:site_name" content="写話会福岡ウェブサイト" />
  <meta property="og:image" content="https://syawakaifukuoka.github.io/main/img/ogp_img.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="https://syawakaifukuoka.github.io/main/index.html" />
  <meta name="twitter:image" content="https://syawakaifukuoka.github.io/main/img/ogp_img.jpg" />
  <meta name="twitter:title" content="写話会福岡">
  <title>写話会福岡-top</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP" rel="stylesheet">
  <script>
    (function(d) {
      var config = {
        kitId: 'qua5vwq',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-D12QGBC69P"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
 
     gtag('config', 'G-D12QGBC69P');
   </script>
</head>
<body>

<div id="app">  
  <header>
    <h1><a href="#">写話会福岡</a></h1>
  </header>

  <div class="kv-area slider-outer">
    <transition name="fade">
      <div class="slider-inner" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
        <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img">
      </div>
    </transition>
  </div>

  <div id="anker-link">
    <!-- <slide class="sp"> -->
    <ul>
      <li>
        <a href="#about">
          <span>ABOUT</span>
        </a>
      </li>
      <li>
        <a href="#photo">
          <span>PHOTO?</span>
        </a>
      </li>
      <li>
        <a href="#event">
          <span>EVENT</span>
        </a>
      </li>
    </ul>
  <!-- <slide> -->
  </div>

  <div class="sns-area">
    <ul>
      <li><a href="https://twitter.com/maPhotalk" target="_blank"><img src="img/sns_1.png" alt=""></a></li>
      <li><a href="https://www.instagram.com/shawakai_fukuoka/" target="_blank"><img src="img/sns_2.png" alt=""></a></li>
      <li><a href="https://note.com/maphotalk" target="_blank"><img src="img/sns_3.png" alt=""></a></li>
    </ul>
  </div>

  <div class="main-area">
      <section class="content-area">
        <div class="content-area__outer" id="about">
          <fade-in-component>
            <div class="content__title">
              <span>ABOUT</span> 
              <h2>写話会福岡について</h2>
            </div>
         </fade-in-component>

          <div class="content-area__inner about-content">
            <fade-in-component>
              <div class="content__text-block">
                <p>あらゆる時間、あらゆる場所で目にする写真。</p>
                <p>絶え間なく流れるタイムラインのように、1枚の写真をじっくり眺める機会は少なくなっているかもしれません。<br>
                  「いいね」だけで終わらず、じっくりと写真について話すことができれば、と考え写話会という場をつくりました。</p>
                <p>特別な専門知識はなくても大丈夫。写真に興味がある、話を楽しみたい、話を聞いてみたい、という方ならどなたでも歓迎します。</p>
              </div>
            </fade-in-component>
          </div>
        </div>
      </section>
    </fade-in-component>

    <fade-in-component>
      <section class="content-area">
        <div class="content-area__outer" id="photo">
          <fade-in-component>
            <div class="content__title">
              <span>PHOTO?</span>
              <h2>「写真」について</h2>
            </div>
            <div class="content-area__inner">
            <div class="content__text-block">
              <p>写真は「プリント紙に印刷されたもの」以外もお持ちより頂けます。<br>たとえば、下記などを想定しています。</p>
            </div>
            <div class="content__list-block">
              <p>ご持参写真の一例</p>
              <ul>
                <li>プリントされた写真</li>
                <li>雑誌、写真集、図版、など紙媒体・印刷物</li>
                <li>PC・タブレットやスマートフォンのデバイス内にある写真/画像</li>
                <li>SNSにあがった写真/画像</li>
              </ul>
            </div>
            <div class="content__text-block">
              <p>他にも「これは写真だな」とお考えになったものを自由にご持参ください。</p>
            </div>
          </fade-in-component>
          </div>
        </div>
      </section>
    </fade-in-component>

    <fade-in-component>
      <section class="content-area">
          <div class="content-area__outer" id="event">
            <fade-in-component>
              <div class="content__title">
                <span>EVENT</span> 
                <h2>開催予定イベント</h2>
              </div>
            </fade-in-component>

            <fade-in-component>
              <div class="content__event-img">
                <img src="img/event_img02.jpg" alt="写話会の詳細">
              </div>
              <div class="content__event-title">
                <div class="content__event-title__block">
                  <h3>Vol.9 「Outdoor」+ On:Vol.7</h3>
                  <p><span class="bold">Vol.9</span> 開催日:2020.7.25 13:00予定</p>
                  <p><span class="bold">Vol.7</span> 投稿期間:2020.7.12～8/31</p>
                </div>
            </fade-in-component>
            </div>
            <div class="content-area__inner">
              <fade-in-component>
              <div class="content__text-block">
                <p>同一テーマの撮影歩きと、twitter開催の投稿企画を開催します。<br>どちらかのみ、あるいは両方のご参加どちらも歓迎します。</p>
                <p>カメラはスマホでも大丈夫なので、初めての方もお気軽にご参加ください！<br>※各自マスクの持参をお願いします。</p>
                <p>twitter企画では以下2つのハッシュタグをつけてご投稿ください。</p>
                <ul class="tag-item">
                  <li>#写話会福岡</li>
                  <li>#アウトドア</li>
                </ul>
                <p>ご参加を希望される方、詳細を確認したい方はnoteをご覧ください。</p>
              </div>
              </fade-in-component>

              <fade-in-component>
              <div class="content__button">
                <button tabindex="0" role="button" onclick="location.href='https://note.com/maphotalk/n/n06f56cc8eb52','_blank'">
                    noteで詳細をみる
                </button>
              </div>
            </fade-in-component>
          </div>
        </div>
      </section>
    </fade-in-component>
  </div>

  <footer>
    <p>写話会福岡(しゃわかいふくおか)</p>
    <ul>
      <li><a href="https://www.instagram.com/shawakai_fukuoka/" target="_blank">instagram</a></li>
      <li><a href="https://twitter.com/maPhotalk" target="_blank">twitter</a></li>
      <li><a href="https://coten.pics/maPhotalk" target="_blank">coten</a></li>
      <li><a href="https://note.com/maphotalk" target="_blank">note</a></li>
    </ul>
    <div class="copyright">
      <small>(c) Copyright SyawakaiFukuoka. All Rights reserved.</small>
    </div>
  </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</body>
</html>