<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta discription="写話会福岡, 福岡市内で毎月第一土曜日を目安に、テーマを決めて写真について話す会です。オンラインでの投稿企画も実施しています。撮影イベントなども！カメラはスマホしかない方、写真に詳しくない方も歓迎！">
  <meta property="og:url" content="https://syawakaifukuoka.github.io/main/index.html" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="写真についてゆるく話す、写話会福岡のウェブサイトです。" />
  <meta property="og:site_name" content="写話会福岡ウェブサイト" />
  <meta property="og:image" content="https://syawakaifukuoka.github.io/main/common/img/ogp_img.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="https://syawakaifukuoka.github.io/main/index.html" />
  <meta name="twitter:image" content="https://syawakaifukuoka.github.io/main/common/img/ogp_img.jpg" />
  <meta name="twitter:title" content="写話会福岡">
  <title>写話会福岡-top</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="./common/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script>
    (function(d) {
      var config = {
        kitId: 'qua5vwq',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-D12QGBC69P"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
 
     gtag('config', 'G-D12QGBC69P');
   </script>
</head>
<body>

<div id="app">  
  <header-component></header-component>
  <sns-component></sns-component>

  <div class="kv-area slider-outer">
    <transition name="fade">
      <div class="slider-inner" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
        <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img" width="100" height="100">
      </div>
    </transition>
  </div>

  <div id="anker-link">
    <!-- <slide class="sp"> -->
    <ul>
      <li>
        <a href="#about">
          <span>ABOUT</span>
        </a>
      </li>
      <li>
        <a href="#photo">
          <span>PHOTO?</span>
        </a>
      </li>
      <li>
        <a href="#event">
          <span>EVENT</span>
        </a>
      </li>
    </ul>
  <!-- <slide> -->
  </div>

  <div class="sns-area">
    <ul>
      <li><a href="https://twitter.com/maPhotalk" target="_blank"><img src="./common/img/sns_1.png" alt="twitterアイコン"></a></li>
      <li><a href="https://www.instagram.com/shawakai_fukuoka/" target="_blank"><img src="./common/img/sns_2.png" alt="instagramアイコン"></a></li>
      <li><a href="https://note.com/maphotalk" target="_blank"><img src="./common/img/sns_3.png" alt="noteアイコン"></a></li>
    </ul>
  </div>

  <div class="main-area">
    <fade-in-component>
      <section class="content-area">
        <div class="content-area__outer" id="about">
          <div class="content__title">
            <span>ABOUT</span> 
            <h2>写話会福岡について</h2>
          </div>
          <div class="content-area__inner about-content">
            <div class="content__text-block">
              <p>あらゆる時間、あらゆる場所で目にする写真。</p>
              <p>絶え間なく流れるタイムラインのように、1枚の写真をじっくり眺める機会は少なくなっているかもしれません。<br>
                「いいね」だけで終わらず、じっくりと写真について話すことができれば、と考え写話会という場をつくりました。</p>
              <p><span class="bold">専門知識はなくても大丈夫。</span>写真に興味がある、話を楽しみたい、人の話を聞いてみたい、という方ならどなたでも歓迎します。</p>
            </div>
            <div class="content__image-container">
              <img src="img/content_img_01.jpg" alt="イメージ画像" loading="lazy">
              <img src="img/content_img_02.jpg" alt="イメージ画像" loading="lazy">
            </div>
          </div>
        </div>
      </section>
    </fade-in-component>

    <fade-in-component>
      <section class="content-area">
        <div class="content-area__outer" id="photo">
          <fade-in-component>
            <div class="content__title">
              <span>PHOTO?</span>
              <h2>「写真」について</h2>
            </div>
            <div class="content-area__inner">
            <div class="content__text-block">
              <p>ご持参いただく写真の種類は<span class="bold">「プリント紙に印刷されたもの」以外</span>でも大丈夫です。<br>たとえば、下記などを想定しています。</p>
            </div>
            <div class="content__list-block">
              <p>ご持参写真の一例</p>
              <ul>
                <li>プリントされた写真</li>
                <li>雑誌、写真集、図版、など紙媒体・印刷物</li>
                <li>PC・タブレットやスマートフォンなどデバイス内にある電子媒体の写真/画像</li>
                <li>SNSで公開された写真/画像</li>
              </ul>
            </div>
            <div class="content__text-block">
              <p>他にも<span class="under">「これは写真だな」とお考えになったもの</span>を自由にご持参ください。</p>
            </div>
          </fade-in-component>
          </div>
        </div>
      </section>
    </fade-in-component>

    <fade-in-component>
      <section class="content-area">
          <div class="content-area__outer" id="event">
            <fade-in-component>
              <div class="content__title">
                <span>EVENT</span> 
                <h2>開催予定イベント</h2>
              </div>
            </fade-in-component>

            <fade-in-component>
              <div class="content__event-img">
                <img src="img/event_img02.jpg" alt="写話会の詳細"　loading="lazy">
              </div>
              <div class="content__event-title">
                <div class="content__event-title__block">
                  <h3>{{ eventTitle }}</h3>
                  <p><span class="bold">{{ eventVolOn }}</span> 開催日:{{ eventDateOn }}</p>
                  <p><span class="bold">{{ eventVolOff }}</span> 投稿期間:{{ eventDateOff }}</p>
                </div>
            </fade-in-component>
            </div>
            <div class="content-area__inner">
              <fade-in-component>
              <div class="content__text-block">
                <p>今回は<span class="bold">「アウトドア」</span>と題した撮影歩きと、同一テーマでtwitter開催の投稿企画を開催します。どちらかのみ、あるいは両方のご参加どちらも歓迎します。</p>
                <p>カメラはスマホでも大丈夫。<span class="under bold">初めての方や一眼レフ等は持ってないという方もお気軽にご参加ください！</span></p>
                <p class="atention">※各自マスクの持参をお願いします。<br>※変更があれば前日までにtwitterにて周知いたします。</p>
                <p>twitter企画では以下2つのハッシュタグをつけてご投稿ください。</p>
                <ul class="tag-item">
                  <li>#写話会福岡</li>
                  <li>#アウトドア</li>
                </ul>
                <p>ご参加を希望される方、詳細を確認したい方はnoteをご覧ください。</p>
              </div>
              </fade-in-component>

              <fade-in-component>
              <div class="content__button">
                <button tabindex="0" role="button" onclick="window.open('https://note.com/maphotalk/n/n06f56cc8eb52','_blank')">
                    noteで詳細をみる
                </button>
              </div>
            </fade-in-component>

            <fade-in-component>
              <div class="content__text-block">
                <p>これまでの開催報告は以下より御覧いただけます。</p>
                <div class="content__link">
                  <a href="https://note.com/hashtag/%E5%86%99%E8%A9%B1%E4%BC%9A%E7%A6%8F%E5%B2%A1_%E9%96%8B%E5%82%AC%E5%A0%B1%E5%91%8A" target="_blank">開催報告(note)をみる</a>
                </div>
              </div>
            </fade-in-component>
            
          </div>
        </div>
      </section>
    </fade-in-component>

  </div>
  <footer-component></footer-component>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-burger-menu@2.0.3/dist/vue-burger-menu.umd.js"></script>
<script src="js/main.js"></script>
<script src="common/js/common.js"></script>
<script src="common/js/component.js"></script>
</body>
</html>