/*base*/
$pc: 768px;  // PC
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
$sp: 767px;  // SP
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
.new{
    position:relative;
    display:block;
    width:240px;
    height:144px;
    margin:40px;
    overflow:visible;
    &:before, &:after{
        display: block;
        position: absolute;
        right: -8px;
        z-index: 10;
    }
    &:before{
        content: "";
        border: 4px solid transparent;
        border-top-color: #4686F2;
        border-left-color: #4686F2;
        top: 14px;
    }
    &:after{
        content: "New!";
        font-weight: bold;
        font-family: 'Helvetica', 'sans-serif';
        background: #4686F2;
        color: #fff;
        padding: 0 6px 0 14px;
        height: 24px;
        line-height: 24px;
        top: -10px;
        font-size: .8rem;
        letter-spacing: 0.25rem;
    }
}

.exhibition {
    &__area {
        background: #fafafa;
        h3 {
            font-size: 2rem;
            padding-top: 2rem;
        }
    }
    &__list {
        margin-bottom: 30px;
        li {
            font-size: .8rem;
            list-style-type: square;
            margin-left: 1.3rem;
            margin-bottom: .3rem;
            color: #808080;
        }
    }
    &__title-block {
        text-align: center;
        margin-bottom: 2rem;
    }
    &__inner {
        padding: 2rem;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }
    &__item {
        width: calc(100% / 4 - 15px);
        min-width: 200px;
        height: auto;
        margin: 0 .5rem 1rem 0;
        padding: 0.2rem;
        background: #fff;
        box-shadow: 2px 2px 5px #e6e6e6;
        word-break: break-all;
        position: relative;
        // &:nth-child(even) {
        //     margin-right: 0;
        // }
        h4 {
            font-size: .9rem;
            line-height: 1.5;
            margin-bottom: .5rem;
            word-break:break-word; 
        }
        p,li {
            font-size: .75rem;
        }
        &__img {
            overflow: hidden;
            position: relative;
            img {
                object-fit: cover;
                width: 100%;
                height: auto;
                transition: .2s ease-in;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        &__box {
            padding: 1rem;
            &__top {
                margin-bottom: 2rem;
                padding-bottom: 1.5rem;
                border-bottom: 2px solid #e7e7e7;
            }
            &__bottom {
                margin-bottom: 1.2rem;
                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    &__tag-item {
        display: block;
        li {
            margin-bottom: 0.5rem;
            padding: 5px 10px;
            display: inline-block;
            border-radius: 10px;
            border: 1px solid #999;
            color: #999;
            text-align: center;
        }
    }
    &__dates {
        text-align: center;
    }
    @include sp {
        &__inner {
            padding: 1rem;
        }
        &__item {
            display: flex;
            margin: 0 auto 1rem;
            width: 100%;
            a {
                display: flex;
            }
            h4 {
                margin-top: 2rem;
            }
            &__img {
                width: calc(100% / 2);
                align-items: center;
                display: flex;
            }
            &__box {
                width: calc(100% / 2);
            }
        }
    }
}